.app__navbar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5rem 2rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    z-index: 2;
}

.app__navbar-logo {
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    cursor: pointer;

    img {
        width: 2.5rem;
        height: auto;

        @media screen and (min-width: 2000px) {
            width: 80px;
            height: auto;
        }
    }
}

#light .app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;

        div {
            width: 5px;
            height: 5px;

            background: transparent;
            border-radius: 50%;

            margin-bottom: 5px;
        }

        a {
            color: var(--gray-color);
            text-decoration: none;
            flex-direction: column;

            text-transform: uppercase;
            font-weight: 500;

            transition: all 0.3 ease-in-out;

            &:hover {
                color: var(--secondary-color);
            }
        }

        &:hover {
            div {
                background: var(--secondary-color);
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

#dark .app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;

        div {
            width: 5px;
            height: 5px;

            background: transparent;
            border-radius: 50%;

            margin-bottom: 5px;
        }

        a {
            color: var(--white-color);
            text-decoration: none;
            flex-direction: column;

            text-transform: uppercase;
            font-weight: 500;

            transition: all 0.3 ease-in-out;

            &:hover {
                color: var(--secondary-color);
            }
        }

        &:hover {
            div {
                background: var(--secondary-color);
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

#light .app__navbar-menu {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--secondary-color);

    svg {
        width: 25px;
        height: 25px;
        color: var(--white-color);
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;

        width: 100%;
        height: 100vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        // background: url('../../assets/bgWhite.png');
        background-color: var(--white-color);
        // background-size: cover;
        // background-repeat: repeat;
        box-shadow:
            0 7px 15px 0 rgba(0, 0, 0, .13),
            0 1px 4px 0 rgba(0, 0, 0, .11);
        transform-origin: top;

        svg {
            width: 35px;
            height: 35px;
            color: var(--secondary-color);
            margin: 0.5rem 1rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li {
                margin: .2rem;

                a {
                    color: var(--black-color);
                    text-decoration: none;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    transition: all 0.3 ease-in-out;

                    &:hover {
                        color: var(--secondary-color);
                    }
                }
            }
        }

        ul li:last-child {
            margin: 25px 0 25px 0;
        }

        ul li:last-child a {
            position: relative;
            padding: 5px;
        
            &::before,
            &::after,
            span::before,
            span::after {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background: transparent;
                transition: 1s;
                animation: borderAnimation 3s linear infinite; /* Add animation here */
            }
        
            &::before {
                top: -2px;
                left: -2px;
                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
                border-image: linear-gradient(to right, #DA0C81, #F5AB35) 1; /* Apply linear gradient color */
            }
        
            &::after {
                top: -2px;
                right: -2px;
                border-top: 2px solid transparent;
                border-right: 2px solid transparent;
                border-image: linear-gradient(to right, #DA0C81, #F5AB35) 1; /* Apply linear gradient color */
            }
        
            span::before {
                bottom: -2px;
                left: -2px;
                border-bottom: 2px solid transparent;
                border-left: 2px solid transparent;
                border-image: linear-gradient(to right, #DA0C81, #F5AB35) 1; /* Apply linear gradient color */
            }
        
            span::after {
                bottom: -2px;
                right: -2px;
                border-bottom: 2px solid transparent;
                border-right: 2px solid transparent;
                border-image: linear-gradient(to right, #DA0C81, #F5AB35) 1; /* Apply linear gradient color */
            }
        }
        
        @keyframes borderAnimation {
            0% {
                width: 0;
                height: 0;
            }
            25% {
                width: 100%;
                height: 0;
            }
            50% {
                width: 100%;
                height: 100%;
            }
            75% {
                width: 0;
                height: 100%;
            }
            100% {
                width: 0;
                height: 0;
            }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}

#dark .app__navbar-menu {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    // background: var(--secondary-color);

    svg {
        width: 25px;
        height: 25px;
        color: var(--white-color);
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;

        width: 100%;
        height: 100vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        // background: url('../../assets/bgWhite.png');
        background-color: var(--dark-color);
        // background-size: cover;
        // background-repeat: repeat;
        box-shadow:
            0 7px 15px 0 rgba(0, 0, 0, .13),
            0 1px 4px 0 rgba(0, 0, 0, .11);
        transform-origin: top;

        svg {
            width: 35px;
            height: 35px;
            color: var(--secondary-color);
            // margin: 0.5rem 1rem;
            margin-top: 0.5rem;
            margin-right: 1rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li {
                margin-bottom: 1rem;

                a {
                    color: var(--white-color);
                    text-decoration: none;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    transition: all 0.3 ease-in-out;

                    &:hover {
                        color: var(--secondary-color-dark);
                    }

                }
            }
        }
        
        ul li:last-child {
            margin: 25px 0 25px 0;
        }

        ul li:last-child a {
            position: relative;
            padding: 5px;
        
            &::before,
            &::after,
            span::before,
            span::after {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background: transparent;
                transition: 1s;
                animation: borderAnimation 3s linear infinite; /* Add animation here */
            }
        
            &::before {
                top: -2px;
                left: -2px;
                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
                border-image: linear-gradient(to right, #DA0C81, #F5AB35) 1; /* Apply linear gradient color */
            }
        
            &::after {
                top: -2px;
                right: -2px;
                border-top: 2px solid transparent;
                border-right: 2px solid transparent;
                border-image: linear-gradient(to right, #DA0C81, #F5AB35) 1; /* Apply linear gradient color */
            }
        
            span::before {
                bottom: -2px;
                left: -2px;
                border-bottom: 2px solid transparent;
                border-left: 2px solid transparent;
                border-image: linear-gradient(to right, #DA0C81, #F5AB35) 1; /* Apply linear gradient color */
            }
        
            span::after {
                bottom: -2px;
                right: -2px;
                border-bottom: 2px solid transparent;
                border-right: 2px solid transparent;
                border-image: linear-gradient(to right, #DA0C81, #F5AB35) 1; /* Apply linear gradient color */
            }
        }
        
        @keyframes borderAnimation {
            0% {
                width: 0;
                height: 0;
            }
            25% {
                width: 100%;
                height: 0;
            }
            50% {
                width: 100%;
                height: 100%;
            }
            75% {
                width: 0;
                height: 100%;
            }
            100% {
                width: 0;
                height: 0;
            }
        }
        
        // ul li:last-child a {
        //     position: relative;
        //     padding: 5px;

        //     &::before,
        //     &::after,
        //     span::before,
        //     span::after {
        //         content: '';
        //         position: absolute;
        //         width: 8px;
        //         height: 8px;
        //         background: transparent;
        //         transition: 1s;
        //         /* -webkit-mix-blend-mode: hue; */
        //     }

        //     &::before {
        //         top: -2px;
        //         left: -2px;
        //         border-top: 2px solid #ff0;
        //         border-left: 2px solid #ff0;
        //     }

        //     &::after {
        //         top: -2px;
        //         right: -2px;
        //         border-top: 2px solid #ff0;
        //         border-right: 2px solid #ff0;
        //     }

        //     span::before {
        //         bottom: -2px;
        //         left: -2px;
        //         border-bottom: 2px solid #ff0;
        //         border-left: 2px solid #ff0;
        //     }

        //     span::after {
        //         bottom: -2px;
        //         right: -2px;
        //         border-bottom: 2px solid #ff0;
        //         border-right: 2px solid #ff0;
        //     }


        //     &:hover::before,
        //     &:hover::after,
        //     &:hover span::before,
        //     &:hover span::after {
        //         width: calc(180px / 2);
        //         height: calc(50px / 2);
        //     }
        // }

        // ul li:last-child a {
        //     text-decoration: none;
        //     position: relative;

        //     &:hover {
        //         color: linear-gradient(to right, #DA0C81, #F5AB35);
        //     }

        //     &:after {
        //         content: "";
        //         position: absolute;
        //         bottom: -4px;
        //         left: 0;
        //         width: 100%;
        //         height: 3px;
        //         background: linear-gradient(to right, #DA0C81, #F5AB35);
        //         transform: scaleX(0);
        //         animation: scribble 3s ease-in-out forwards;
        //         animation-iteration-count: infinite;
        //     }

        //     @keyframes scribble {
        //         0% {
        //             transform: scaleX(0);
        //         }

        //         50% {
        //             transform: scaleX(1);
        //         }

        //         100% {
        //             transform: scaleX(0);
        //         }
        //     }
        // }

        // ul li:last-child a {
        //     position: relative;

        //     &:after {
        //       content: "❤️";
        //       position: absolute;
        //       top: 50%;
        //       left: 50%;
        //       transform: translate(-50%, -50%);
        //       font-size: 2em;
        //     //   color: #DA0C81;
        //       opacity: 0;
        //       animation: lovebeat 1s ease-in-out infinite alternate;
        //     }

        //     @keyframes lovebeat {
        //       0% {
        //         opacity: 0;
        //         transform: translate(-50%, -50%) scale(1);
        //       }
        //       50% {
        //         opacity: 1;
        //         transform: translate(-50%, -50%) scale(1.2);
        //       }
        //       100% {
        //         opacity: 0;
        //         transform: translate(-50%, -50%) scale(1);
        //       }
        //     }
        //   }


        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}

.css-j204z7-MuiFormControlLabel-root {
    margin-left: 0 !important;
    margin-right: 0 !important;
}