// AnniversaryPage.scss

.anniversary-page {
    flex: 1;
    flex-direction: column;
    width: 100%;

    header {
        margin-bottom: 40px;
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
        color: #ff1493;
    }

    h2 {
        font-size: 2rem;
        color: #ffc2dc;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        color: var(--lightGray-color);
        line-height: 1.6;
    }

    .gallery-section {
        margin: 40px 0;
    }

    footer {
        margin-top: 40px;
        color: #777;
    }
}

#light .app__anniversary-item {
    width: auto;
    min-height: auto;
    background-color: var(--lightGray-color);

    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    // @media screen and (min-width: 2000px) {
    //     min-height: 450px;

    //     img {
    //         width: 150px;
    //         height: 150px;
    //     }
    // }

    @media screen and (max-width: 850px) {
        width: 100%;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

#dark .app__anniversary-item {
    width: auto;
    min-height: auto;
    background-color: var(--lightGray-color);

    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    // @media screen and (min-width: 2000px) {
    //     min-height: 450px;

    //     img {
    //         width: 150px;
    //         height: 150px;
    //     }
    // }

    @media screen and (max-width: 850px) {
        width: 100%;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.app__anniversary-content {
    flex: 1;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 0 2rem;
    text-align: left;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // text-align: center;
    }

    p {
        font-size: 1.25rem;
        line-height: 2rem;
        color: var(--black-color) !important;
        font-family: var(--font-base);
    }

    h4 {
        font-weight: 600;
        color: var(--secondary-color) !important;

        margin-top: .5rem;
    }

    h5 {
        font-weight: 400;
        color: var(--gray-color) !important;

        margin-top: 5px;
    }

}

.interactive-section {
    
}

.app__anniversary-btns {
    flex-direction: row;
    margin-top: 1rem;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--lightGray-color);

        margin: 1rem;
        transition: all 0.3s ease-in-out;

        svg {
            width: 20px;
            height: 20px;
            color: var(--secondary-color);
        }

        &:hover {
            background-color: var(--secondary-color);

            svg {
                color: var(--white-color);
            }
        }
    }
}

.app__anniversary-pics {
    width: 80%;
    flex-wrap: wrap;
    // margin-top: 2rem;

    div {
        width: 150px;
        margin: 1.5em;

        img {
            width: 100%;
            height: auto;
            border-radius: 2px;
            object-fit: cover;

            // filter: grayscale(1);
            cursor: pointer;
        }

        // &:hover {
        //     img {
        //         filter: grayscale(0);
        //     }
        // }

        @media screen and (min-width: 2000px) {
            width: 210px;
            margin: 2rem;
        }

        @media screen and (max-width: 450px) {
            width: 120px;
            margin: 1rem;
        }
    }

    @media screen and (max-width: 850px) {
        width: 100%;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}
